body {
  text-align: center;
  background-color: #DC143C
}
h1 {
  text-align: center;
}
.font-1 {
  font-family: 'Indie Flower', cursive;
}
.index {
  margin; 1.5em
}
p {
  text-color: #008080
}
/* mouse over link */
a:hover {
  currentstate;
  beginnings;
  thebestmoments;
}
button:hover {
  color: blue;
}
p:p+h2 {
  background-color: #DC143C
  
    
    
